@import "tailwindcss";
@import "./tokens.css";
@import "./components/buttons.css";
@import "./components/container.css";

/* Fonts */
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";

@import "@fontsource/playfair-display/700.css";

/* ---------- Base ---------- */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--background);
  color: var(--foreground);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}